body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.Btn {
    height: 70px;
    width: 75px;
    border: none;
    background: none;
    font-size: 40px;
    margin: 15px;
}

.Btn:active {
    transform: translateY(5px);	
}


.number {
    border: 2px solid lightblue;
    border-radius: 5px;
}

.number:hover {
    background: skyblue;
}

.operator {
    border: 2px solid lightgreen;
    border-radius: 5px;
}

.operator:hover {
    background-color: greenyellow;
}

.equals {
    border: 2px solid pink;
    border-radius: 5px;
}

.equals:hover {
    background: lightpink;
}

.decimal {
    border: 2px solid pink;
    border-radius: 5px;
}

.decimal:hover {
    background: lightpink;
}

.clear {
    border: 2px solid red;
    border-radius: 5px;
}

.clear:hover {
    background: lightcoral;
}

.screen {
    border: 2px solid gold;
    width: 300px;
    height: 75px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.firstRow {
    display: flex;
    align-items: center;
}

.previous {
    font-size: 25px;
}

.current {
    font-size: 35px;
}

footer {
    margin-top: 50px;
}